body {
	font: 'Raleway', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.25em;
	top: 15%;
	height: 100vh;
	background: linear-gradient(to right, grey, grey); /* Standard syntax */
}
h1 {
	font: 600 3.5em 'Raleway', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.25em;
	width: 100%;
}
h3 {
	font: 900 1em 'Raleway', sans-serif;
	color: rgba(0,0,0,0.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.1em;
}
button {
    margin-top: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    width: 125px;
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: #efefef;
}
button:hover {background-color: #D3D3D3;}
button:focus {outline:0;}

.radio-button, p {
    letter-spacing: 0.01em;
    font-size: 1.3em;
    text-transform: none;
    margin-bottom: 1em;
}

.swatch {
    width: 100px;
    height: 66px;
    padding: 1px 1px;
    margin-bottom: 1em;
}